.svg {
  width: 3.75em;
  animation: 1.5s spin ease infinite;
}

.ring {
  fill: none;
  stroke: hsla(341, 88%, 51%, 0.3);
  stroke-width: 1;
}

.ball {
  fill: #ff0a58;
  stroke: none;
}

@keyframes spin {
  to {
    transform: rotate(720deg);
  }
}
